<!DOCTYPE html>
<html>
  <head>
    <title>Savanna Lingo</title>
    <%= favicon_link_tag 'logo.jpeg' %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="turbo-cache-control" content="no-cache">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
    <%= javascript_importmap_tags %>
    
  </head>

  <body>
  <p class="notice"><%= notice %></p> 
  <p class="alert"><%= alert %></p> 
  <% if user_signed_in? %>
  Logged in as: <%= current_user.name %> (Role: <%= current_user.user_role %>)
<%= button_to 'Logout', destroy_user_session_path, method: :delete, data: { turbo: false } %>
  <% else %>
    <%= link_to 'Sign Up', new_user_registration_path %> |
    <%= linkkkkkk8_to 'Log In', new_user_session_path %>
  <% end %>
    <%= render 'pages/header' %>

    <%= yield %>
  </body>
</html>
